    .Login {
      padding: 100px 20px;
      background-color: #4996da;
      border-radius: 20px;
    }

.first-box {
  width:300px; 
  float:left; 
  height: 150px;
  margin: 50px;
  color: white;
  margin-left: 250px;
}

.btnLogin{
  color: white;
  background-color: #215b8d;
  border-radius:15px;
  border: none;
  padding: 10px;
  margin-top: 10px;
}

