.Navbar {
    background-color: #4996da;
}

.navbar-light .navbar-brand {
    color: white;
}

.active {
    color:white;
    padding: 10px;
    text-decoration: none;
    background-color: transparent;
}
a {
    color: #FFF;
    padding: 10px;
  }
a:hover {
     color: #00F
}

.btn-outline-success{
    color:white;
    border-color: white;
}

.btn:hover{
    background-color: aliceblue;
    border-color: white;
}
.btn-outline-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: aliceblue;
    border-color: white;
    box-shadow: white;
}
.btn.btn-outline-success.focus,
.btn.btn-outline-success:focus {
  color: #fff;
  background-color:transparent;
  border-color: white;
  outline: none;
  box-shadow: none;
}