.btn.btn-success{
    color: #ffffff;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #4996da, #4996da);
    border-color: #4b3f8f #4b3f8f #4b3f8f;
}
.btn.btn-success:hover{
    color: #ffffff;
    background-color: #4996da;
    background-image: linear-gradient(to bottom, #4996da, #4996da);
    border-color: #4b3f8f #4b3f8f #4b3f8f;
}


.comments{
    color: #ffffff;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #4996da, #4996da);
    border-color: #4b3f8f #4b3f8f #4b3f8f;
}

.comments:hover{
    color: #ffffff;
    background-color: #4996da;
    background-image: linear-gradient(to bottom, #4996da, #4996da);
    border-color: #4b3f8f #4b3f8f #4b3f8f;
}

.profile-card{
    margin-top: 45px;
}